<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Categories</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let cat of data.categories">
            <ion-item (click)="data.setFilter(cat.name)" [ngClass]="{'is_active' : cat.name == data.filter}">
              <ion-note slot="end">{{cat.count}}</ion-note>
              <ion-label class="ion-text-capitalize">
                {{cat.name}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
