<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Passwords" (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col *ngFor="let pass of data.currPasswords; let i = index" size="12" size-md="4" size-sm="6">
      <ion-card>
        <ion-card-title (click)="editPass(pass, i)">
          {{pass.name}}
          <ion-icon name="md-create" size="small" color="primary"></ion-icon>
        </ion-card-title>
        <p class="info-header">{{pass.email.indexOf('@') != -1 ? 'Email' : 'Username'}}</p>
        <p class="info-body ion-text-lowercase">{{pass.email}}</p>
        <p class="info-header">Password</p>
        <ion-row class="password-row">
          <ion-col>
            <ion-input #passwordVal class="info-body" [ngModel]="pass.pass" readonly></ion-input>
          </ion-col>
          <ion-col>
            <ion-button size="small" (click)="copyInputMessage(passwordVal)">Copy</ion-button>
          </ion-col>
        </ion-row>
        <p *ngIf="pass.notes" class="info-header">Notes</p>
        <p class="info-body">{{pass.notes}}</p>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPass()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
